.file-uploader {
    /* background-color: lightgray; */
    border-radius: 3px;
    color: black;

    margin: 2em auto;
    display: block;
}

.file-uploader__message-area {
    font-size: 16px;
    padding: 1em;
    text-align: center;
    color: #377a65;
}


.file-list {
    font-size: 16px;
}

.file-list__name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



.file-list li {
    height: 50px;
    line-height: 50px;
    margin-top: 5px;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid black;
    padding-left: 5px;
    padding-bottom: 5px;
}


.removal-button {
    width: 10%;
    border: none;
    color: #c00000;
    font-weight: bold;
    background-color: white;
}


.removal-button::before {
    content: "";
}

.removal-button:focus {
    outline: 0;
}

.file-uploader input[type="submit"] {
    margin-top: 2em;
    float: right;
}


.file-list {
    margin: 0 auto;
    max-width: 90%;
}



.file-list__name {
    max-width: 70%;
    float: left;
}


.removal-button {
    display: inline-block;
    height: 100%;
    float: right
}


.file-chooser {
    width: 90%;
}


.file-uploader__submit-button {
    border: 1px solid;
    font-size: 1.5em;
    background-color: #1aa24a;
    color: white;
    width: 50%;
    border-radius: 10%;
    padding: 1px 5px 1px 2px;
}


.file-list li:after,
.file-uploader:after {
    content: "";
    display: table;
    clear: both;
}


.hidden {
    display: none;
}

.hidden input {
    display: none;
}


.error {
    background-color: lightgrey;
    color: red;
}



::before,
::after {
    box-sizing: border-box;
}



ul,
li {
    margin: 0;
    padding: 0;
}