.this-form-control{
    /*display: block;*/
    width: 100%;
    padding: 0.4375rem 0.875rem;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.53;
    color: #697a8d;
    background-color: #fff;
    background-clip: padding-box;
    border: 1 px solid #d9dee3;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;


}

.primary{
    display: inline-block;
    font-weight: 400;
    line-height: 1.53;
    color: #697a8d !important;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent !important;
    padding: 0.4375rem 1.25rem !important;
    font-size: 0.9375rem !important;
    border-radius: 0.375rem !important;
    transition: all 0.2s ease-in-out !important;
    
    background-color: #eb7f15 !important;
    border-color: #eb7f15 !important;
    color: black !important;
    box-shadow: 0 0.125rem 0.25rem 0 rgb(105 108 255 / 40%) !important;
    margin-left: 10px !important;
}

.danger{
    background-color: #eb7f15;
    border-color: #eb7f15;
} 


ul {
    list-style: none;
    padding-left: 0px !important;
}
.list {
width: 100%;
background-color: #ffffff;
border-radius: 0 0 5px 5px;
}
.list-items {
    padding: 10px 5px;
}
.list-items:hover {
background-color: #ffab005c;
}

#dateFin-error{
    display: none !important;
}

#dateDeb-error{
    display: none !important;
}