.accordion-item:first-of-type .accordion-button {
    border-top-left-radius: 0; 
    border-top-right-radius: 0rem;
    box-shadow: none !important; 
}

.accordion-button.collapsed {
    border-radius: 0rem;
    box-shadow: none !important; 
} 

label {
  cursor: pointer;
  font-weight: 500;
  overflow: hidden;
}


fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-style: groove;
    border-top-style: groove;
    border-right-style: groove;
    border-bottom-style: groove;
    border-left-style: groove;
    border-color: #E1E0DE;
    border-top-color: #E1E0DE;
    border-right-color: #E1E0DE;
    border-bottom-color: #E1E0DE;
    border-left-color: #E1E0DE;
    border-image: initial;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}

legend {
    float: none;
    width: 100%;
    padding: 0;
    margin-bottom: 0.5rem;
    font-size: calc(1.275rem + 0.3vw);
    line-height: inherit;
}

legend {
    width: 10vh;
    padding: 0;
    margin-bottom: 0.5rem;
    font-size: calc(1.275rem + 0.3vw);
    line-height: inherit;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

form {
  color: #555;
  display: flex;
  padding: 2px;
  border: 1px solid currentColor;
  border-radius: 5px;
  margin: 0 0 30px;
}

.subBtn {
  border: none;
  background: transparent;
  margin: 0;
  padding: 7px 8px;

  color: inherit;
  border: 1px solid transparent;
  border-radius: inherit;
}


.subBtn::placeholder {
  color: #bbb;
}

.subBtn {
  text-indent: -999px;
  overflow: hidden;
  width: 40px;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  border-radius: inherit;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
  cursor: pointer;
  opacity: 0.7;
}
  
.subBtn:hover {
  opacity: 1;
}

.subBtn:focus,
.subBtn:focus {
  box-shadow: 0 0 3px 0 #1183d6;
  border-color: #1183d6;
  outline: none;
}

form.nosubmit {
  border: none;
  padding: 0;
}

input.nosubmit {
  border: 1px solid #555;
  width: 100%;
  padding: 9px 4px 9px 40px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}

.accordion-button.collapsed {
  border-radius: 0rem !important;
}


.this-form-control{
  /*display: block;*/
  width: 100%;
  padding: 0.4375rem 0.875rem;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.53;
  color: #697a8d;
  background-color: #fff;
  background-clip: padding-box;
  border: 1 px solid #d9dee3;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;


}














a {
  text-decoration: none;
  color: inherit;
}

.c-icon {
  width:  50px;
  height: 26px;
  fill: currentColor;
  transition: .2s;
}

.c-link--facebook:hover  { color: #3b5998 }
.c-link--twitter:hover   { color: #55acee }
.c-link--google:hover    { color: #dd4b39 }
.c-link--pinterest:hover { color: #bd081c }
.c-link--instagram:hover { color: #833ab4 }
.c-link--snapchat:hover  { color: #fbe00f }
.c-link--facebook:hover::after  { background: #3b5998 }
.c-link--twitter:hover::after   { background: #55acee }
.c-link--google:hover::after    { background: #dd4b39 }
.c-link--pinterest:hover::after { background: #bd081c }
.c-link--instagram:hover::after { background: #833ab4 }
.c-link--snapchat:hover::after  { background: #fbe00f }

.c-link--facebook:focus  { color: #3b5998 }
.c-link--twitter:focus   { color: #55acee }
.c-link--google:focus    { color: #dd4b39 }
.c-link--pinterest:focus { color: #bd081c }
.c-link--instagram:focus { color: #833ab4 }
.c-link--snapchat:focus  { color: #fbe00f }
.c-link--facebook:focus::after  { background: #3b5998 }
.c-link--twitter:focus::after   { background: #55acee }
.c-link--google:focus::after    { background: #dd4b39 }
.c-link--pinterest:focus::after { background: #bd081c }
.c-link--instagram:focus::after { background: #833ab4 }
.c-link--snapchat:focus::after  { background: #fbe00f }

.c-link {
  position: relative;
  color: #bbb;
}

.c-link:not(:last-of-type) {
  margin-right: 15px;
}

.c-tooltip::before,
.c-tooltip::after {
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -10px);
  opacity: 0;
  transition: .2s;
}

.c-tooltip::before {
  content: '';
  bottom: calc(100% + 2px);
  border: solid 5px transparent;
  border-top-color: currentColor;
}

.c-tooltip::after {
  content: attr(aria-label);
  bottom: calc(100% + 12px);
  padding: .61em .93em;
  font-size: .875rem;
  color: white;
  border-radius: 3px;
}

.c-tooltip:hover::before,
.c-tooltip:hover::after {
  opacity: 1;
  transform: translate(-50%);
}

.c-tooltip:focus::before,
.c-tooltip:focus::after {
  opacity: 1;
  transform: translate(-50%);
}

.pens-link-container {
  flex-basis: 100%;
  font-size: .9rem;
  text-align: center;
}

.pens-link {
  margin-bottom: 0;
  background: white;
  box-shadow: 0 4px 18px rgba(0, 0, 0, .1);
  border: none;
}

button[aria-label]:after {
  width: 500px;
}

.tooltip-button{
  background:inherit !important;
  margin: 0px;
  border: none;
  padding: 0px;
}

