.card-2{
    background: #eddddd;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center; 
    color: black;
    box-shadow: 7px 7px 7px #808080;
    border: 2px solid #c00000;
    font-weight: bold;
    font-size: 20px;
}

.card-3{
    min-height: 135px !important; 
    text-align: center;
    padding-top: 30px;
}

.card-4{
    min-height: 200px !important; 
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.card-height{
    min-height: 200px !important; 
    text-align: center;
}

.alert-success {
    background-color: #5e9f3e !important;
    border-color: #d4f5c3 !important;
    color: #fafff7;

}

.table-tr-clickable tr {
    cursor: pointer;
}

table.table-tr-clickable.dataTable tbody tr:hover {
background-color: #ffab005c;
}


.menu-inner>.menu-item.active>.menu-link {
    color: #eb7f15 !important;
    background-color: #ffab005c !important;
}

.accordion-button {
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
}

.accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.79rem 1.125rem;
    font-size: 0.9375rem;
    color: black;
    text-align: left;
    background-color: #E1E0DE;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: all 0.2s ease-in-out, border-radius 0.15s ease;
}


.accordion-button:not(.collapsed) {
    color: black;
    background-color: #E1E0DE;
    box-shadow: inset 0 0 0 #d9dee3;
}

.accordion-body{
    background-color: white;
    color: black;
    border: 2px solid #E1E0DE;
}

.thisBtn{
    padding: 0px !important;
}

.modal-body{
    overflow-x:auto !important;
}

.accordion-body{
    overflow-x:auto;
}

.responsive-x{
    overflow-x:auto;
}

.project-tab #tabs{
    background: #007b5e;
    color: #eee;
}
.project-tab #tabs h6.section-title{
    color: #eee;
}
.project-tab #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #0062cc;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 3px solid !important;
    font-size: 16px;
    font-weight: bold;
}
.project-tab .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #0062cc;
    font-size: 16px;
    font-weight: 600;
}
.project-tab .nav-link:hover {
    border: none;
}
.project-tab thead{
    background: #f3f3f3;
    color: #333;
}
.project-tab a{
    text-decoration: none;
    color: #333;
    font-weight: 600;
}

.active-tab{
    border: 1px solid !important; 
    background: #eb7f15 !important;
}

.inactive-tab{
    border: 1px solid white !important; 
    background: #d1cdcd !important;
}

.container-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark-checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container-checkbox:hover input ~ .checkmark-checkbox {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container-checkbox input:checked ~ .checkmark-checkbox {
    background-color: #2196F3;
  }
  
  /* Create the checkmark-checkbox/indicator (hidden when not checked) */
  .checkmark-checkbox:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark-checkbox when checked */
  .container-checkbox input:checked ~ .checkmark-checkbox:after {
    display: block;
  }
  
  /* Style the checkmark-checkbox/indicator */
  .container-checkbox .checkmark-checkbox:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .container-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark-checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container-checkbox:hover input ~ .checkmark-checkbox {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container-checkbox input:checked ~ .checkmark-checkbox {
    background-color: #2196F3;
  }
  
  /* Create the checkmark-checkbox/indicator (hidden when not checked) */
  .checkmark-checkbox:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark-checkbox when checked */
  .container-checkbox input:checked ~ .checkmark-checkbox:after {
    display: block;
  }
  
  /* Style the checkmark-checkbox/indicator */
  .container-checkbox .checkmark-checkbox:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }